/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SharpGroteskCondensed","Open Sans",sans-serif;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

/* header */

/* nav */

.container-nav{
    position: relative;
}

nav{
    position: fixed;
    z-index: 1;
}

.logo{
    width: 10%;
    margin: 15px 30px 15px 20px;
    float: left;
}

ul{
    display: inline-block;
    list-style: none;
    margin: 20px;
}

li{
    display: inline-block;
    margin-right: 30px;
}

a{
    text-decoration: none;
    color: black;
}

.btn{
    color: white;
    background-color: #0061FF;
    padding: 5px 15px;
}

#utente{
    background-color: rgb(97, 8, 43);
    border-radius: 50%;
    padding: 10px;
    color: white;
}

.left-list{
    float: left;
}

.right-list{
    float: right;
}

/* .jumbotron */

.jumbotron{
    width: 100%;
    padding: 5%;
    position: relative;
    background-color: #B4D0E8;
}

h1{
    font-size: 71px;
    line-height: 80px;
    letter-spacing: -1px;
}

.phrase{
    max-width: 28%;
    line-height: 1.6;
    margin: 30px 0;
    font-size: 20px;
}

a.btn{
    display: inline-block;
    margin-bottom: 10px;
}

.annulla{
    font-size: 14px;
}

.arrow{
    font-size: 80px;
    padding-top: 30px;
}

.img-absolute{
    position: absolute;
    width: 65%;
    right: 20px;
    bottom: -80px;
}



/* footer */

footer{
    background-color: #000;
}

/* colori */



/* debug */

nav{
    height: 60px;
    background-color: whitesmoke;
}

.jumbotron{
    height: 780px;
}

.plans{
    height: 500px;
    background-color: yellow;
}

.contacts{
    height: 500px;
    background-color: red;
}

.business{
    height: 500px;
    background-color: green;
}

.teams{
    height: 500px;
    background-color: pink;
}

.faq{
    height: 500px;
    background-color: blue;
}

footer{
    height: 600px;
}