/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SharpGroteskCondensed","Open Sans",sans-serif;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.btn{
    color: white;
    background-color: #0061FF;
    padding: 5px 15px;
}

/* header */

/* nav */

.container-nav{
    position: relative;
}

nav{
    position: fixed;
    z-index: 1;
    height: 60px;
    background-color: whitesmoke;
}

.logo{
    width: 10%;
    margin: 15px 30px 15px 20px;
    float: left;
}

.clearfix ul{
    display: inline-block;
    list-style: none;
    margin: 20px;
}

.clearfix li{
    display: inline-block;
    margin-right: 30px;
}

nav a{
    text-decoration: none;
    color: black;
}

#utente{
    background-color: rgb(97, 8, 43);
    border-radius: 50%;
    padding: 10px;
    color: white;
}

.left-list{
    float: left;
}

.right-list{
    float: right;
}

/* .jumbotron */

.jumbotron{
    width: 100%;
    padding: 5%;
    position: relative;
    background-color: #B4D0E8;
    height: 821px;
}

h1{
    font-size: 71px;
    line-height: 80px;
    letter-spacing: -1px;
}

.phrase{
    max-width: 28%;
    line-height: 1.6;
    margin: 30px 0;
    font-size: 20px;
}

a.btn{
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
}

.annulla{
    font-size: 14px;
}

span.arrow{
    font-size: 80px;
}

.img-absolute{
    position: absolute;
    width: 65%;
    right: 20px;
    bottom: -80px;
}

/* plans */

section.plans{
    margin: 10% 10% 5%;
}

.plans h2{
    text-align: center;
    font-size: 53px;
}

.box{
    padding: 30px 0 20px 0; 
}

.checkbox{
    display: inline-block;
    background-color: whitesmoke;
    width: 20px;
    height: 20px;
    border: 1px solid lightgray;
    border-radius: 50%;
    vertical-align: middle;
}

.checked{
    border: 5px solid #0161FF;
}

/* riga */

.colonna{
    width: 30%;
    border: 1px solid lightgray;
}

.plan-type{
    text-align: center;
    padding: 10px 0;
}

.container-text{
    padding: 20px;
}

.container-text span.text{
    padding: 20px 0;
}

.colonna h3{
    line-height: 40px;
}

.bold{
    font-weight: bold;
}

.small-txt{
    padding-top: 10px;
    padding-bottom: 40px;
}

.colonna span{
    display: block;
}

span .btn {
    text-decoration: none;
}

.small{
    width: 33%;
}

hr.small{
    margin: 20px 0;
}

.checklist{
    list-style-type: "\2713";
    list-style: limegreen;
}

.sx li.simbolo1{
    list-style: url("https://cfl.dropboxstatic.com/static/images/business/bermuda/icons/person-vflwJfwxi.svg");
}

.colonna li.simbolo2{
    list-style: url("https://cfl.dropboxstatic.com/static/images/business/bermuda/icons/white-folder-vflTSRtFt.svg");
}

.colonna li.simbolo3{
    list-style: url("https://cfl.dropboxstatic.com/static/images/business/bermuda/icons/pencil-vfl0feoul.svg");
}

.colonna ul{
    padding-left: 20px;
}

.middle{
    margin: 0 4.6%;
}

div.colonna{
    display: inline-block;
}

.middle li.simbolo1, .dx li.simbolo1{
    list-style: url("https://cfl.dropboxstatic.com/static/images/business/bermuda/icons/person-plus-vflE1WIGl.svg");
}

.sx .plan-type::before{
    content: url("https://cfl.dropboxstatic.com/static/images/business/bermuda/icons/person-vflwJfwxi.svg");
    padding: 5px;
}

.middle .plan-type::before, .dx .plan-type::before{
    content: url("https://cfl.dropboxstatic.com/static/images/business/bermuda/icons/business-vflwT7XWp.svg");
    padding: 5px;
}
    

/* riga 2 */

.riga2{
    margin: 50px 0;
    width: 100%;
    height: 200px;
    border: 1px solid lightgray;
}

.riga2 .team-text::before{
    content: url("https://cfl.dropboxstatic.com/static/images/business/bermuda/icons/business-vflwT7XWp.svg");
}

.team-pt1{
    text-align: center;
    padding: 10px;
}

.enterprise{
    padding: 20px;
    float: left;
}

.enterprise span{
    display: block;
}

.enterprise span{
    line-height: 40px;
}

.uff-ven{
    float: right;
    padding: 20px;
}

.uff-ven a{
    text-decoration: none;
    padding: 10px 30px
}

.box-bottom span.small{
    font-size: 10px;
    padding:  0 20px;
}

/* contacts */

section.contacts{
    margin: 50px 10%;
}

.left-img{
    width: 50%;
    float: left;
    margin-right: 70px;
}

.team-txt{
    width: 40%;
    padding: 50px 0;
    float: left;
}

.team-txt h3{
    padding-bottom: 20px;
}

.team-txt span{
    line-height: 1.6;
}

.team-txt .btn{
    margin-top: 40px;
    padding: 10px 20px;
    background-color: white;
    border: 1px solid black;
    color: black;
    text-decoration: none;
}

/* business */

.business{
    margin: 5% 10%;
}

.business h2{
    text-align: center;
    padding-bottom: 5%;
}

.column{
    width: 30%;
    margin: 5% 0;
    float: left;
}

.column img{
    width: 100%;
}

.column h3{
    line-height: 30px;
    padding: 20px 0;
}

.column p{
    line-height: 25px;
}

p a{
    color: black;
}

p a:hover{
    text-decoration: none;
}

.central{
    margin: 5% 5%;
}

/* teams */

.zona-pre-square{
    margin: 0 10%;
    padding-bottom: 5%;
}

.zona-pre-square h2{
    padding-bottom: 40px;
    max-width: 329px;
}

.main-zona-square{
    width: 100vw;
}

.main-zona-square div{
    display: inline-block;
}

.float{
    float: left;
}

.float-right{
    float: right;
}

.square{
    height: 221.25px;
    width: 16.5vw;
}

.middle-square-zone{
    width: 34vw;
    height: 442.5px;
    background-color: #F5F5F5;
    padding: 50px;
} 

.middle-square-zone .info-design{
    width: 34%;
}

.middle-square-zone p{
    line-height: 20px;
    padding-bottom: 30px;
}

.img-square{
    width: 100%;
    padding: 100px 50px;
    filter: invert(1);
}

.left-square-zone, .right-square-zone{
    max-width: 33vw;
}

/* footer */

footer{
    background-color: #000;
}

/* colori */

.lightgray{
    color: lightgray;
}

.bgc-lightgreen{
    background-color: lightgreen;
    border: 10px solid #A1D39B;
}

.bgc-wine{
    background-color: #61092B;
}

.bgc-cyan{
    background-color: #0093CE;
}

.bgc-red{
    background-color: #FF1B1C;
}

.bgc-darkred{
    background-color: #D5011F;
}

.bgc-lightblue{
    background-color: #B4D0E8;
}

.bgc-darkblue{
    background-color: #0D2381;
}

.bgc-yellow{
    background-color: #FFD730;
}

/* debug */

.faq{
    height: 500px;
    background-color: blue;
}

footer{
    height: 600px;
}